@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

@font-face {
  font-family: afacad;
  src: url("../assets/fonts/Afacad-Regular.ttf");
}

html,
body {
  min-height: 100svh;
  margin: 0;
  padding: 0;
  color: #2b7379;
  font-family: afacad;
  font-size: 1.05rem;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: url(../../assets/tarot-bg.png),
    linear-gradient(to bottom, #2f2b64 0%, #fcf2e3 100%);
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: center top;
  background-size: cover, cover;
  text-align: center;
  overflow-x: hidden;
}

a {
  color: #fcf2e3;
  text-decoration: none;
}

.breadcrumb-item a {
  color: #fcf2e378;
}

.breadcrumb-item a:hover {
  color: #fcf2e3;
  transition: 0.3s ease-in-out;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #fcf2e378;
}

.breadcrumb-item.active {
  color: #fcf2e3;
}

.gallery-navbar {
  background-color: #2f2b64;
  color: #fcf2e3;
  font-size: 1.3rem;
  font-family: "Spectral";
  font-weight: 500;
  width: 100%;
  box-shadow: 2px 2px #1e1b42;
}

#bg-music-btn {
  cursor: pointer;
  font-size: 0.8rem;
  color: #fcf2e383;
}

#bg-music-btn:hover {
  color: #fcf2e3;
  transition: 0.2s ease-in-out;
}

.header-icon {
  cursor: pointer;
}

.accordion-container {
  min-height: 94vh;
  border-left: 3px solid #fcf2e3;
  margin-left: 180px;
  /* border-right: 3px solid #fcf2e3; */
}

.accordion {
  --bs-accordion-bg: transparent;
  border-radius: 0px;
  color: #fcf2e3;
}

.accordion-item {
  border-radius: 0px !important;
  color: #fcf2e3;
  border: 0px;
  scroll-margin-top: 50px;
}

.accordion-header {
  border-bottom: 3px solid #fcf2e3;
}

.accordion-header:hover {
  background-color: #1a1a3043;
  transition: 0.3s ease-in-out;
}

.main-accordion-button {
  padding: 20px 20px 5px 20px;
}

.accordion-button {
  color: #fcf2e3;
  font-family: "Alice";
  font-weight: 500;
  font-size: 1.7rem;
  text-shadow: #ffcc004c 1px 0 10px;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fcf2e3'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #fcf2e3;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0px;
  /* border-bottom: 3px solid #fcf2e3; */
}

/* .accordion-button:not(.collapsed):hover {
  background-color: #1a1a3043;
  transition: 0.3s ease-in-out;
} */

button.accordion-button.about-accordion-button {
  background-color: #1a1a30c9;
  border-radius: 15px;
  color: #fcf2e3;
  border: 0px;
  box-shadow: none;
  padding: 10px 20px 10px 20px;
  font-size: 1.2rem;
  font-family: "Spectral";
}

button.accordion-button.about-accordion-button:not(.collapsed) {
  background-color: #1a1a30c9;
  border-radius: 15px 15px 0px 0px;
  color: #fcf2e3;
  border: 0px;
  box-shadow: none;
}

.button-deco {
  width: 40px;
  height: 40px;
  background-color: #fcf2e3;
  margin-top: 25px;
}

.about-accordion {
  background-color: #1a1a3087;
  border-radius: 15px;
  color: #fcf2e3b5;
}

.about-accordion-body {
  text-align: justify;
  font-family: "Cormorant Garamond";
  line-height: 1.2;
  font-size: 1.1rem;
}

.navigation-box {
  color: #fcf2e3;
  text-align: left;
  position: fixed;
  font-family: "Spectral";
  font-size: 1.2rem;
}

.navigation-box header {
  text-decoration: underline dotted #fcf2e377;
  cursor: default;
}

.navigation-item {
  font-size: 1rem;
  color: #fcf2e3b9;
  cursor: pointer;
}

.navigation-item .nav-icon {
  display: none;
}

.navigation-item a {
  color: inherit;
}

.navigation-item:hover,
.navigation-item.active {
  color: #fcf2e3;
  transform: scale(1.1);
  transition: 0.2s ease-in;
}

.navigation-item.active .nav-icon {
  display: inline-block;
  transition: 0.2s ease-in;
}

.character-box {
  cursor: pointer;
  background-color: #1a1a3080;
  padding: 10px 10px 5px 10px;
  border-radius: 10px;
  margin: 10px;
  border: 2px solid #fcf2e34a;
}

.character-box:hover {
  border: 2px solid #fcf2e3;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.character-box p {
  font-family: "Spectral";
  font-size: 1.1rem;
  text-decoration: underline dotted #fcf2e377;
  margin-bottom: 0px;
  color: #fcf2e3;
}

.character-pfp-box {
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin-bottom: 5px;
}

.character-pfp-box img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 25px;
  border: 2px solid #fcf2e379;
}

/*--------------------------Responsiveness-------------------------------*/

@media only screen and (max-width: 945px) {
  .navigation-box {
    padding: 10px 25px 10px 15px !important;
    font-size: 1rem;
  }

  .navigation-item {
    font-size: 0.8rem;
  }

  .accordion-container {
    border-left: 3px solid #fcf2e3;
    margin-left: 120px;
    /* border-right: 3px solid #fcf2e3; */
  }

  .character-row {
    padding: 5px !important;
    /* justify-content: center !important; */
  }
}

@media only screen and (max-width: 500px) {
  .gallery-navbar {
    font-size: 1rem;
    padding-right: 10px !important;
  }

  .accordion-container {
    border-left: 3px solid #fcf2e3;
    border-right: 0px;
    margin-left: 5%;
    margin-right: 0%;
  }

  .navigation-box {
    display: none;
  }

  .character-box {
    padding: 5px 5px 2px 5px;
    border-radius: 5px;
    margin: 5px;
  }

  .character-pfp-box {
    width: 130px;
    height: 130px;
    margin-bottom: 0px;
  }

  .character-pfp-box img {
    border-radius: 8px;
  }

  .accordion-body {
    padding: 10px;
  }

  .character-box a {
    font-size: 0.8rem;
  }

  .breadcrumb-item {
    font-size: 0.9rem;
  }

  /* .breadcrumb-item::before {
    display: none;
  }

  .breadcrumb-item:not(.active) {
    display: none;
  } */
}

@media only screen and (max-width: 357px) {
  .character-pfp-box {
    width: 120px;
    height: 120px;
  }
}

/*--------------------------CUSTOM SCROLL BAR-------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
